---
Checks: '
  bugprone-*,
  cert-*,
  cppcoreguidelines-*,
  misc-*,
  performance-*,
  readability-*,
  -cppcoreguidelines-pro-bounds-pointer-arithmetic,
  -cppcoreguidelines-pro-bounds-array-to-pointer-decay,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -readability-named-parameter,
  -readability-container-size-empty
'
CheckOptions:
  readability-identifier-length.IgnoredParameterNames: 'd|z|m'
  readability-identifier-length.IgnoredVariableNames: 'k|du|dv'
WarningsAsErrors: '*'
HeaderFilterRegex: 'include/.*'
...
