[submodule "sha3"]
	path = sha3
	url = https://github.com/itzmeanjan/sha3.git
[submodule "subtle"]
	path = subtle
	url = https://github.com/itzmeanjan/subtle.git
[submodule "dudect"]
	path = dudect
	url = https://github.com/oreparaz/dudect.git
[submodule "gtest-parallel"]
	path = gtest-parallel
	url = https://github.com/google/gtest-parallel.git
