name: Test Kyber Key Encapsulation Mechanism

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{matrix.os}}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    steps:
    - uses: actions/checkout@v3
    # From https://github.com/marketplace/actions/actions-setup-cmake
    - name: Setup CMake
      uses: jwlawson/actions-setup-cmake@v1.13
      with:
        cmake-version: 'latest'
    - name: Setup Google-Test
      run: |
        pushd ~
        git clone https://github.com/google/googletest.git -b v1.14.0
        pushd googletest
        mkdir build
        pushd build
        cmake .. -DBUILD_GMOCK=OFF
        make
        sudo make install
        popd
        popd
        popd
    - name: Execute Tests on ${{matrix.os}}
      run: make -j
    - name: Execute Tests with AddressSanitizer on ${{matrix.os}}
      run: make asan_test -j
    - name: Execute Tests with UndefinedBehaviourSanitizer on ${{matrix.os}}
      run: make ubsan_test -j
