name: Test ML-KEM i.e. NIST FIPS 203

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        include:
          - { os: ubuntu-latest, compiler: g++ }
          - { os: ubuntu-latest, compiler: clang++ }
          - { os: macos-latest, compiler: clang++ }
          - { os: windows-latest }
      max-parallel: 8

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Configure (Tests + Examples)
        run: >
          cmake -B build
          ${{ matrix.compiler && format('-DCMAKE_CXX_COMPILER={0}', matrix.compiler) || '' }}
          -DCMAKE_BUILD_TYPE=Release
          -DML_KEM_BUILD_TESTS=ON
          -DML_KEM_BUILD_EXAMPLES=ON
          -DML_KEM_FETCH_DEPS=ON

      - name: Build
        run: cmake --build build --config Release -j

      - name: Test
        run: ctest --test-dir build -C Release --output-on-failure

  sanitizers:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        sanitizer: [asan, ubsan]
        compiler: [g++, clang++]
        build_type: [Debug, Release]
      max-parallel: 8

    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Configure (${{ matrix.sanitizer }}, ${{ matrix.build_type }})
        run: >
          cmake -B build
          -DCMAKE_CXX_COMPILER=${{ matrix.compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DML_KEM_BUILD_TESTS=ON
          -DML_KEM_FETCH_DEPS=ON
          -DML_KEM_ASAN=${{ matrix.sanitizer == 'asan' && 'ON' || 'OFF' }}
          -DML_KEM_UBSAN=${{ matrix.sanitizer == 'ubsan' && 'ON' || 'OFF' }}

      - name: Build
        run: cmake --build build -j

      - name: Test
        run: ctest --test-dir build --output-on-failure
