name: Test ML-KEM i.e. NIST FIPS 203

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 2
      matrix:
        os: [
          ubuntu-latest # x86_64
        ]
        compiler: [g++, clang++]
        sanitizer: [none, asan, ubsan]
        build_type: [Debug, Release]
        include:
          - os: macos-latest # aarch64
            compiler: clang++
            sanitizer: none
            build_type: Release
        exclude:
          - sanitizer: none
            build_type: Debug

    steps:
      - uses: actions/checkout@v6

      - name: Configure
        run: >
          cmake -B build
          -DCMAKE_CXX_COMPILER=${{ matrix.compiler }}
          -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}
          -DML_KEM_BUILD_TESTS=ON
          -DML_KEM_BUILD_EXAMPLES=ON
          -DML_KEM_FETCH_DEPS=ON
          -DML_KEM_ASAN=${{ matrix.sanitizer == 'asan' && 'ON' || 'OFF' }}
          -DML_KEM_UBSAN=${{ matrix.sanitizer == 'ubsan' && 'ON' || 'OFF' }}

      - name: Build
        run: cmake --build build -j

      - name: Test
        run: ctest --test-dir build --output-on-failure -j
