name: Test ML-KEM i.e. NIST FIPS 203

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [
            ubuntu-latest, # x86_64
            macos-latest, # aarch64
          ]
        compiler: [g++, clang++]
      max-parallel: 4

    steps:
      - uses: actions/checkout@v6

      - name: Setup Google Test
        uses: Bacondish2023/setup-googletest@v1
        with:
          tag: v1.17.0

      - name: Sync Submodules
        run: make submodules

      - name: Static Analysis (clang-tidy)
        if: runner.os == 'Linux' && matrix.compiler == 'clang++'
        run: make tidy

      - name: Build and Test (${{ matrix.compiler }}, ${{ matrix.os }})
        run: |
          CORES=$(nproc 2>/dev/null || sysctl -n hw.logicalcpu)
          JOBS=$(( (CORES + 1) / 2 ))
          make test -j$JOBS CXX=${{ matrix.compiler }}

      - name: Fuzz (${{ matrix.compiler }}, ${{ matrix.os }})
        if: matrix.compiler == 'clang++' && runner.os == 'Linux'
        run: |
          CORES=$(nproc)
          JOBS=$(( (CORES + 1) / 2 ))
          make fuzz -j$JOBS CXX=clang++

      - name: Run Examples (${{ matrix.compiler }}, ${{ matrix.os }})
        run: |
          CORES=$(nproc 2>/dev/null || sysctl -n hw.logicalcpu)
          JOBS=$(( (CORES + 1) / 2 ))
          make example -j$JOBS CXX=${{ matrix.compiler }}
